<h3>{{ msg }}</h3>
<div class="well"> HELLO WORLD!!!! I AM IN THE INDEX SEXTION</div>
  <div class="well"> Welcome Page!! TO INDEX </div>
{{ msg }}


  <p><a href="http://localhost:3000/about">Visit our ABOUT</a></p>