
<!DOCTYPE html>
<html>
<head>
  <title>Villacis</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="css/sleek.css">
</head>
<body>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <ul class="right">
        <li> <a class="logo" href="https://github.com/Victor-Villacis" target="_blank">
        <img alt="GitHub" class="logo" src="http://i.stack.imgur.com/oaWJU.png">
        </a>
        </li>
        <li><a class="logo logothree" href="https://twitter.com/shogunbreeze" target="_blank">
        <img alt="Twitter" class="logo logothree" src="http://www.freelargeimages.com/wp-content/uploads/2015/05/Twitter_Logo_Hd_Png_01.png">
        </a></li>
        <li><a class="logo logotwo" href="https://www.linkedin.com/in/victorvillacis?trk=hp-identity-photo" target="_blank"><img alt="LinkedIn" class="logo logotwo" src="http://www.fuelyourblogging.com/files/linkedin-logo-square2-webtreatsetc-240x240.png">
        </a></li>
        <li><a class="logo logofour" href="mailto:victor.villacis@outlook.com" target="_blank">
        <img alt="E-Mail" class="logo logofour" src="http://teamloyalvip.com/wp-content/uploads/2014/09/gmail-logo.png">
        </a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


{{{ body }}}

  <!-- footer -->
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"></h5>
          <p class="grey-text text-lighten-4"></p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">I LOVE</h5>
          <ul>
            <li><a class="logo logothree" href="https://www.youtube.com/watch?v=VfY2pCx_deA" target="_blank">
        <img alt="Alienware" class="logo logothree" src="images/alienware.png">
        </a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
        <ul>
         </ul>
        </div>
      </div>
    </div>
  </footer>




  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript" src="scripts/flicker.js"></script>
  <script type="text/javascript" src="scripts/sleek.js"></script>
  <script type="text/javascript" src="scripts/index.js"></script>
  </body>
  </html>


