  <div class="center">
    <h1>Not Found <small><font color="red">Error 404</font></small></h1>
    <br>
    <h3>LIFE SAVER</h3>
    <a class="btn btn-large" href="http://localhost:3000/">Take Me Home</a>
  </div>

<body style="position:relative"background="http://3.bp.blogspot.com/-DajR6dGkUz0/VIeg-mMwpeI/AAAAAAAAAIw/HCnhjCMy6dg/s1600/lost%2Bat%2Bsea.jpg"
style="background-position: center; background-repeat:no-repeat; background-size: fill;"></body>


