  <div class="center">
    <h1>Page Not Found <small><font color="red">Error 404</font></small></h1>
    <br>
    <h3>There is really nothing left for you to do here but to move on.</h3>
    <a class="btn btn-large" href="http://localhost:3000/">Take Me Home</a>
  </div>

<body background="http://www.redpepperwallpaper.com/wp/landscapes/WP8NVZ5M.jpg"
style="background-position: center; background-repeat:no-repeat; background-size: fill;"></body>


