<!--container to make it responsive on mobile-->
<div class="">
<!--left side area -->
<div class="com" style="background-image:url(images/background_color.jpg); background-position: center;background-size:cover">
<!--begin content sections -->
    <div class="com__content">
      <section class="com__section com__section--text com__section--text-img">
        <div class="com__section-half">
          <h4 class="animate slideInLeft delay-2">Hello World! I am an ambitious web developer with an entrepreneurial background. I use my real world skills combined with the interdisciplinary studies of Political Science and Psychology to constantly push myself to excel. I love to code and am constantly learning new technologies. I strive to maintain the balance between practical and extraordinary industry standards. I enjoy exploring and pushing myself to overcome all obstacles that may come my way.</h4>
        </div>
        <div class="com__section-half"><img alt="Victor Villacis" class="animate slideInRight delay-4 well" id="redges" src="images/victor.jpg"></div>
      </section>
      {{!-- Github Section --}}
      <section class="com__section">
        <div class="col-xs-6">
      <div id="w">
    <h1>Github Search App</h1>
    <h5>Enter Github username below.</h5>
  <br/>
  <h5>Or enter my github username <a href="https://github.com/Victor-Villacis">victor-villacis</a> to see my code repositories</h5>
    <form id="myForm">
    <input type="text" name="ghusername" id="ghusername" placeholder="Github username...">
    <input type="submit" value="Pull USer Data" >
    </form>
    <div id="ghapidata" class="clearfix"></div>
  </div>
      </section>
  <!--flicker section -->
      <section class="com__section com__section--text-img">
        <div class="container" id="flicker">
          <h2>Flicker Gallery</h2>
          <button class="btn btn-primary" id="lg-sq" type="button">Square</button>
          <button class="btn btn-primary" id="thumb" type="button">Thumbnail</button>
          <button class="btn btn-success" id="button" type="button">Search Recent Pics</button>
          <button class="btn btn-danger" id="reset" type="button">Reset</button>
          <hr>
          <table class="">
            <tbody>
              <tr>
                <td id="results"></td>
              </tr>
            </tbody>
          </table>
          <hr>
        </div>
      </section>
</div>
     <!--Navigation Bar -->
    <nav class="com__nav">
      <ul class="com__nav-list">
        <li class="com__nav-item waves-effect waves-light btn">
          <a class="com__nav-link centered waves-effect waves-light btn"><span class="blue-line animate scaleInLeft delay-6">About Me</span> <span class="fa fa-empire fa-4x"></span> </a>
            <h1 class="fa fa-user fa-4x row" style="position:relative; top: 120px; right: 9px"></h1>
        </li>
        <li class="com__nav-item waves-effect waves-light btn">
          <a class="com__nav-link centered waves-effect waves-light btn"><span class="blue-line animate scaleIn delay-3">Github API</span> <span class="white-circle animate scaleIn delay-5"></span></a>
           <h1 class="fa fa-expand fa-4x row" style="position:relative; top: 120px; right: 9px"></h1>
        </li>

        <li class="com__nav-item waves-effect waves-light btn">
          <a class="com__nav-link centered waves-effect waves-light btn"> <span class="blue-line animate scaleInLeft delay-2">Flicker API</span><span class="fa fa-camera-retro fa-4x"></span></a>
            <h1 class="fa fa-camera-retro fa-4x row" style="position:relative; top: 120px; right: 9px"></h1>
      </ul>
    </nav>
</div>
</div>
    </div>
  </div>

    <div class="container marketing">
    <hr>
      <div class="row">
        <div class="col-lg-4">
          <h2>Why?</h2>
          <p> I have been working with web devlopment passively for about 6+ years.In October of 2015 I decided to attend Rutgers Coding Bootcamp in order to hone my skills and get an insight at all the new technologies being used today in Web Development.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>Goal?</h2>
          <p>I plan to continue working with Web Development. I hope to start a career as a developer with an exciting company that may be able to utilize my skills by presenting me challenges for me to overcome.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>Quote!</h2>
          <p>“Around here, however, we don't look backwards for very long. We keep moving forward, opening up new doors and doing new things, because we're curious...and curiosity keeps leading us down new paths.” <br> - Walt Disney</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
<div class="row">
  <div class="center well">
  <h1>Technologies I work with</h1> 
  <h2>
  <span><i class="devicon-mongodb-plain colored"></i></span>
  <span><i class="devicon-angularjs-plain colored"></i></span>
  <span><i class="devicon-nodejs-plain colored"></i></span>
  <span><i class="devicon-bootstrap-plain colored"></i></span>
  <span><i class="devicon-css3-plain colored"></i></span>
  <span><i class="devicon-html5-plain colored"></i></span>
  <span><i class="devicon-javascript-plain colored"></i></span>
  <span><i class="devicon-mysql-plain colored"></i></span>
  <span><i class="devicon-jquery-plain colored"></i></span>
  <span><i class="devicon-git-plain colored"></i></span>
  <span><i class="devicon-heroku-plain colored"></i></span>
  </h2>
  </div>
</div>

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
     <h1 class="center">Projects</h1>
      <hr>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">RuFly<a href="https://rufly2.herokuapp.com/"> <h3 class="text-muted">Review favorite spots to eat.</h3></a></h2>
          <p class="lead">This node.js web app lets you create a user profile and add a resturant for review. It then becomes public. Technologies used include Materialize, Handlebars, Node.js, Express, Passport.js, Bcrypt.js, Sequalize and Mysql.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="images/rufly2.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Mixtape<a href="https://boiling-reaches-32679.herokuapp.com/#/"> <h3 class="text-muted">Indy artits or Dj's.</h3></a></h2>
          <p class="lead">I set out to create a node.js web app in which artist could login, and add thier mixtapes. Othe features include adding it to a public wall and setting a price tag. Utilizing a the sound cloud API, users could comment on it, review, vote to the top and listen to samples. Technologies include, MongoDB, Angular, Express, Node.js, Soundcloud API, Bootstrap, and Mongoose</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="images/mixtape.jpg">
        </div>
      </div>

    {{!--   <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div> --}}

      <hr class="featurette-divider">
    </div><!-- /.container -->
   