<div class="center" style="background-image:url(http://vnaturalcandle.com/wp-content/uploads/2014/06/1703277-2048x1280.jpg); background-position: center;background-size:cover">
  <!--container to make it responsive on mobile-->
  <!--left side area -->
  <div class="com container">
    <!--begin content sections -->
    <div class="com__content container">

      <section class="com__section com__section--text com__section--text-img container">
          <div class="com__section-half container">
         <h1 class="animate slideInLeft container">Victor Villacis</h1>
         <p class="animate slideInLeft delay-2 container">Hell World! I Am ambitious entrepreneur with real world skills combined with the interdisciplinary studies of Political Science and Psychology. My current goal is to graduate Rutgers Coding BootCamp with newly developed technical skills in: HTML 5, CSS, Javascript, Node.js, Ruby and the tools to be a proficient web developer. I hope to utilize these newly found skills to contribute to a company in need of an ambitious developer.</p>
       </div>
       <div class="com__section-half container"><img alt="Victor Villacis" class="animate slideInonRight delay-4" id="redges" src="/images/victor.jpg">
       </div>
      </section>

      <section class="com__section com__section--text">
        <h1 class="animate slideInLeft">Victor Villacis</h1>
        <h1 class="animate scaleIn">Hello</h1>
        <p class="animate slideInLeft delay-3">It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'! Did I mention we have comfy chairs? Did I mention we have comfy chairs? Stop talking, brain thinking. Hush. You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make you feel better?</p>
      </section>
      <!--flicker section -->
      <section class="com__section com__section--text-img">
        <div class="container" id="flicker">
          <h2>Flicker Gallery</h2>
          <button class="btn btn-primary" id="lg-sq" type="button">Square</button> 
          <button class="btn btn-primary" id="thumb" type="button">Thumbnail</button> 
          <button class="btn btn-success" id="button" type="button">Search Recent Photos</button> 
          <button class="btn btn-danger" id="reset" type="button">Reset</button>
          <hr>
          <table class="">
            <tbody>
              <tr>
                <td id="results"></td>
              </tr>
            </tbody>
          </table>
          <hr>
        </div>
      </section>
      {{!-- social links --}}
      <div class="container" style="position:absolute; bottom:0px">
        <a class="logo" href="https://github.com/Victor-Villacis" target="_blank">
        <img alt="GitHub" class="logo" src="http://i.stack.imgur.com/oaWJU.png">
        </a>
        <a class="logo logothree" href="https://twitter.com/shogunbreeze" target="_blank">
        <img alt="Twitter" class="logo logothree" src="http://www.freelargeimages.com/wp-content/uploads/2015/05/Twitter_Logo_Hd_Png_01.png">
        </a>
        <a class="logo logotwo" href="https://www.linkedin.com/in/victorvillacis?trk=hp-identity-photo" target="_blank"><img alt="LinkedIn" class="logo logotwo" src="http://www.fuelyourblogging.com/files/linkedin-logo-square2-webtreatsetc-240x240.png">
        </a>
        <a class="logo logofour" href="mailto:victor.villacis@outlook/com" target="_blank">
        <img alt="E-Mail" class="logo logofour" src="http://teamloyalvip.com/wp-content/uploads/2014/09/gmail-logo.png">
        </a>
      </div>
    </div>
    <!--Navigation Bar -->
    <nav class="com__nav">
      <ul class="com__nav-list">
        <li class="com__nav-item waves-effect waves-light btn">
          <a class="com__nav-link centered waves-effect waves-light btn"><span class="blue-line animate scaleInLeft delay-15">About Me</span> <i class="fa fa-empire fa-4x"></i></a>
        </li>
        <li class="com__nav-item waves-effect waves-light btn">
          <a class="com__nav-link centered waves-effect waves-light btn"><span class="blue-line animate scaleIn delay-3">true6</span> <span class="white-circle animate scaleIn delay-5">hello6</span></a>
        </li>
        <li class="com__nav-item waves-effect waves-light btn">
          <a class="com__nav-link centered waves-effect waves-light btn"><span class="blue-line animate scaleInLeft delay-2">Flicker</span> <span class="fa fa-camera-retro fa-4x"></span></a>
        </li>
      </ul>
    </nav>
  </div><!--bottom fixed social links -->
</div>





<!--   Icon Section   -->
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Parallax 1st section -->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">I Very Much Love Beautiful Simple Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://stories.gettyimages.com/wp-content/uploads/2015/08/GettyImages-557187411-11.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>
    </div>
  </div>

<!-- Parallax 2nd section -->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://www.gettyimages.co.uk/gi-resources/images/CreativeImages/Hero-534897989.jpg" alt="Unsplashed background img 3"></div>
  </div>

<!-- footer -->
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>