<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Auth/login App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    {{{ body }}}
  </body>

  <footer> AM I ALWAYS HERE NO MATTER WHAT PAGE YOU GO TO?</footer>
</html>
